@model BlogWebApp.Models.ViewModels.BlogVM

@{
    ViewData["Title"] = "Create";
}

<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">

<h1>Create</h1>

<h4>Add a new blog...</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <label class="form-label" asp-for="blog.CategoryId"></label>
                <select asp-for="blog.CategoryId" id="ddlCategory" asp-items="@Model.CategoryList" class="form-control">
                    <option disabled selected>---Select Category---</option>
                </select>
                <span asp-validation-for="blog.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label class="form-label" asp-for="blog.SubCategoryId"></label>
                <select asp-for="blog.SubCategoryId" id="ddlSubCategory" asp-items="@Model.SubCategoryList" class="form-control">
                    <option disabled selected>---Select SubCategory---</option>
                </select>
                <span asp-validation-for="blog.SubCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="blog.Title" class="control-label"></label>
                <input asp-for="blog.Title" class="form-control" />
                <span asp-validation-for="blog.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="blog.Slug" class="control-label"></label>
                <input asp-for="blog.Slug" class="form-control" />
                <span asp-validation-for="blog.Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="blog.Tags" class="control-label"></label>
                <input asp-for="blog.Tags" class="form-control" />
                <span asp-validation-for="blog.Tags" class="text-danger"></span>
            </div>
            <div class="col-md-12">
                <label class="form-label" asp-for="blog.TitleImageUrl"></label>
                <input type="file" name="file" id="upload" asp-for="blog.TitleImageUrl" class="form-control" />
                <span asp-validation-for="blog.TitleImageUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="blog.Description" class="control-label"></label>
                <input asp-for="blog.Description" class="form-control" />
                <span asp-validation-for="blog.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="blog.Content" class="control-label"></label>
                <textarea id="summernote" asp-for="blog.Content"></textarea> 
                <span asp-validation-for="blog.Content" class="text-danger"></span>
            </div>
            
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary" onclick="return ValidationInput()">Submit</button>
                <a asp-area="Admin" asp-controller="Blog" asp-action="Index" class="btn btn-warning">
                    <i class="bi bi-arrow-left-square"></i>Back to List
                </a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#summernote').summernote( {
                placeholder: 'Content',
                tabsize: 2,
                height: 200
            });
        });
    </script>
  


   @*<script>
        $(document).ready(function () {
            $('#blog.Content').summernote({
                placeholder: 'Content',
                tabsize: 2,
                height: 600
            });
            var styleEle = $('style#fixed');
            if (styleEle.length == 0)
                $('<style id=\'fixed\'>.note-editor .dropdown-toggle::after { all: unset ; } .note-editor .note-dropdown-menu ( box-sizing: content-box;) .note')
                    .prependTo('body');
            else
                styleEle.remove();
        });
   </script>*@

   <script>
       function ValidateInput(){
           if (document.getElementById('upload').value == ''){
                Sval.fire({
                    icon: "error",
                    title: "oops...",
                    text: "Image filed is required!",
                    footer: "<a href=Please upload image?</a>"
                });
                return false;
           }
           return true;
       }
   </script>

 

}
