@model BlogWebApp.Models.ViewModels.BlogImagesVM

<div class="page-wrapper">
    <div class="page-title">
        <div class="row">
            <div class="col-sm-6 py-1">
                <h6>Blog Image </h6>
            </div>
        </div>
    </div>

    <div class="page-body">
        <form method="post" enctype="multipart/form-data" class="row g-3 p-3">
            <input type="hidden" asp-for="BlogImages.Id" />
            <input type="hidden" asp-for="BlogImages.ImageUrl" />
            <input type="hidden" asp-for="BlogImages.CreatedBy" />
            <div class="col-md-6">
                <label class="form-label" asp-for="BlogImages.SubCategoryId"></label>
                <select asp-for="BlogImages.SubCategoryId" asp-items="@Model.SubCategoryList" class="form-control">
                    <option disabled selected>---Select Subcategory---</option>
                </select>
                <span asp-validation-for="BlogImages.SubCategoryId" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <label class="form-label" asp-for="BlogImages.BlogTitle"></label>
                <input asp-for="BlogImages.BlogTitle" class="form-control" />
                <span asp-validation-for="BlogImages.BlogTitle" class="text-danger"></span>
            </div>
            <div class="col-md-12">
                <label class="form-label" asp-for="BlogImages.ImageUrl"></label>
                <input type="file" name="files" id="upload" multiple class="form-control" />
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-success"><i class="bi bi-plus-circle"></i>
                    Save</button>
                <a asp-area="Admin" asp-controller="BlogImages" asp-action="Index" class="btn btn-warning">
                    <i class="bi bi-arrow-left-square"></i> Back to List
                </a>
            </div>
        </form>

    </div>
</div>



