@model BlogWebApp.Models.ViewModels.BlogVM

@{
    ViewData["Title"] = "Create";
}

<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">

<h1>Create</h1>

<h4>Add a new blog...</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @* <label select asp-for="blog.CategoryId" class="control-label"></label>
                <select asp-for="blog.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>*@

                <label class="form-label" asp-for="blog.CategoryId"></label>
                <select asp-for="blog.CategoryId" id="ddlCategory" asp-items="@Model.CategoryList" class="form-control">
                    <option disabled selected>---Select Category---</option>
                </select>
                <span asp-validation-for="blog.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* <label asp-for="SubCategoryId" class="control-label"></label>
                <select asp-for="SubCategoryId" class ="form-control" asp-items="ViewBag.SubCategoryId"></select>*@

                <label class="form-label" asp-for="blog.SubCategoryId"></label>
                <select asp-for="blog.SubCategoryId" id="ddlSubCategory" asp-items="@Model.SubCategoryList" class="form-control">
                    <option disabled selected>---Select SubCategory---</option>
                </select>
                <span asp-validation-for="blog.SubCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="blog.Title" class="control-label"></label>
                <input asp-for="blog.Title" class="form-control" />
                <span asp-validation-for="blog.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="blog.Slug" class="control-label"></label>
                <input asp-for="blog.Slug" class="form-control" />
                <span asp-validation-for="blog.Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="blog.Tags" class="control-label"></label>
                <input asp-for="blog.Tags" class="form-control" />
                <span asp-validation-for="blog.Tags" class="text-danger"></span>
            </div>

            @*<div class="form-group">
            <label asp-for="TitleImageUrl" class="control-label"></label>
            <input asp-for="TitleImageUrl" class="form-control" />
            <span asp-validation-for="TitleImageUrl" class="text-danger"></span>
            </div>*@
            <div class="col-md-12">
                <label class="form-label" asp-for="blog.TitleImageUrl"></label>
                <input type="file" name="file" id="upload" asp-for="blog.TitleImageUrl" class="form-control" />
                <span asp-validation-for="blog.TitleImageUrl" class="text-danger"></span>
            </div>
            @*<div class="col-md-12">
            <label class="form-label" asp-for="blog.TitleImageUrl"></label>
            <input type="file" name="file" id="upload" class="form-control" />
            </div>*@
            <div class="form-group">
                <label asp-for="blog.Description" class="control-label"></label>
                <input asp-for="blog.Description" class="form-control" />
                <span asp-validation-for="blog.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="blog.Content" class="control-label"></label>
                <textarea id="summernote" asp-for="blog.Content"></textarea> @*class="form-control"*@
                <span asp-validation-for="blog.Content" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="ApplicationUserId" class="control-label"></label>
            <select asp-for="ApplicationUserId" class ="form-control" asp-items="ViewBag.ApplicationUserId"></select>
            </div>*@

            @* <div class="form-group">
            <label asp-for="CreatedDate" class="control-label"></label>
            <input asp-for="CreatedDate" class="form-control" />
            <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="CreatedBy" class="control-label"></label>
            <input asp-for="CreatedBy" class="form-control" />
            <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="ModifiedDate" class="control-label"></label>
            <input asp-for="ModifiedDate" class="form-control" />
            <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="ModifiedBy" class="control-label"></label>
            <input asp-for="ModifiedBy" class="form-control" />
            <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>*@
            @* <div class="form-group form-check">
            <label class="form-check-label">
            <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
            </label>
            </div>*@
            @* <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
            </div>*@
            <div class="col-md-12">
                <button type="submit" @*class=" btn btn-success"*@ class="btn btn-primary" onclick="return ValidationInput()">Submit</button>
                <a asp-area="Author" asp-controller="Blog" asp-action="Index" class="btn btn-warning">
                    <i class="bi bi-arrow-left-square"></i>Back to List
                </a>
            </div>
        </form>
    </div>
</div>

@*<div id="summernote"><p>Hello Summernote</p></div>*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#summernote').summernote({
                placeholder: 'Content',
                tabsize: 2,
                height: 200
            });
        });
    </script>



    @*<script>
        $(document).ready(function () {
            $('#blog.Content').summernote({
                placeholder: 'Content',
                tabsize: 2,
                height: 600
            });
            var styleEle = $('style#fixed');
            if (styleEle.length == 0)
                $('<style id=\'fixed\'>.note-editor .dropdown-toggle::after { all: unset ; } .note-editor .note-dropdown-menu ( box-sizing: content-box;) .note')
                    .prependTo('body');
            else
                styleEle.remove();
        });
   </script>*@

    <script>
        function ValidateInput() {
            if (document.getElementById('upload').value == '') {
                Sval.fire({
                    icon: "error",
                    title: "oops...",
                    text: "Image filed is required!",
                    footer: "<a href=Please upload image?</a>"
                });
                return false;
            }
            return true;
        }
    </script>



}
