
@{
}

<h3>Welcome Subscriber! :D</h3>
<p><strong>Welcome to BeMe! Are you ready to find your inspiration? </strong></p>
<p>Hold your horses! Please remember to read the privacy page before you start creating blogs.</p>
<p><strong>To interact with blogs:</strong></p>
<ul>
    <li>Please refrain from writing mean comments.</li>
    <li>Please refrain comment anything inappropriate.</li>
    <li>Please refrain from including personal information in your comments.</li>
</ul>
<p>Comments are monitored by our administrators. Please think twice before commenting!</p>
<p>Want to delete a comment? No worries, contact us and we'd be happy to remove it! :)</p>
<p>To view all blogs and add comments, use the 'Home' page :D</p>




