@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Welcome Author! :D</h3>
<p><strong>Welcome to BeMe! Are you ready to release your creativity? </strong></p>
<p>Hold your horses! Please remember to read the privacy page before you start creating blogs.</p>
<p><strong>To create a blog:</strong></p>
<ul>
    <li>First on the 'Blog' button in the navigation.</li>
    <li>Click 'Add Blog' and enter all required details. Choose from our wide variety of categories and subcategories.</li>
    <li>Finally click the 'Submit' button. Voila! Congratulations, your blog has now been published!</li>
</ul>
<p>Can't find the category or subcategory you want? No worries, contact us and we'd be happy to add it! :)</p>
<p>To view, modify or delete your blogs, use the 'Blog' page.</p>
<p>To view all blogs and add comments, use the 'Home' page :D</p>
