@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>One of our main priorities is the privacy of our visitors. This Privacy Policy document dicsusses data collection and how we use it.</p>
<p>Do not hesitate to contact us if you have any questions. </p>
<p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>
<p><strong>Information we collect:</strong></p>
<p>When you register for an Account, we may ask for some personal details, including first name, last name, and email address.</p>
<p><strong>How we use your information?</strong></p>
<p>We use the collected information to:</p>
<ul>
    <li>Operate our website</li>
    <li>Maintain our website</li>
    <li>Analyse how you use our website</li>
    <li>Develop new features and functionality for our website</li>
    <li>Communicate about the website via emails</li>
    <li>Find and prevent fraud</li>
    <li>Log data and files</li>
</ul>
<p><strong>Cookies and Web Beacons</strong></p>
<p>Similar to other websites, BeMe uses "cookies" to store information such as timestamps and/or other information.</p>
<p><strong>GDPR Privacy Policy (Data Protection Rights)</strong></p>
<p>We want to make sure you are aware of your data protection rights. Every user is entitled to:</p>
<ul>
    <li>The right to request copies of your personal data.</li>
    <li>The right to request that we correct any information you believe is inaccurate. </li>
    <li>The right to request that we erase your personal data, under certain conditions.</li>
</ul>
<p>If you want to make a request don't hesitate to contact us. We have one month to respond to you.</p>
<p><strong>Children's Information</strong></p>
<p>We encourage parents and guardians to monitor and guide their online activity.</p>
<p>BeMe will not knowingly collect any personal data from children under the age of 13. If you think your child provided this kind of information, contact us immediately.</p>
<p><strong>Questions</strong></p>
<p>If you have any questions about this Privacy Policy, please contact us at plymouth@students.plymouth.ac.uk.</p>
